* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Quicksand;
    font-size: 1.25rem;
  }
  .top-right-btn {
    display: none;
  }

  marquee {
    background-color: #01acfd;
    color: white;
    padding: 8px 0;
    font-weight: 700;
  }

  section {
    padding: 60px 140px;
  }
  .heading {
    text-align: center;
    font-size: 3rem;
  }
  .content {
    margin: 80px 0;
  }

.orangetext {
        color: orange;
    }
.bluetext {
        color: blue;
}
 button {
        border-radius: 12px;
        width: 197px;
        padding: 10px;
        border: none;
        color: white;
        font-size: 1rem;
        font-weight: 700;
        cursor: pointer;
 }
.flexy {
            display: flex;
            align-items: center;
    }

.navbar {
        justify-content: space-between;
        font-weight: 700;
        padding: 20px 140px;
    }
.logoh1{
    font-size : 3rem;
    color: black;
}
a{
        text-decoration: none;
        cursor: pointer;
}
.nav-links{
    gap: 32px;
    font-size: 1.4rem;
    font-weight: 700;
    }
    .logo {
        gap: 8px;
    }

#home {
        color: orange;
}
#about {
        color: #01acfd;
     }
 #facilities {
        color: #05d4df;
}
#admissions {
        color: #5d58ef;
     }
.contact-btn {
        background-color: orange;
        
    }
.banner{
  justify-content: space-between;
}
.banner-content {
  align-items: flex-start;
  gap: 24px;
  flex-direction: column;
  width: 50%;
}
.banner-content h1{
  font-size: 3rem;
  color: black;
}
.banner-content p{
  padding : 0;
}
.banner-content button{
  background-color: black;
}

.curriculum {
  background: url("assets/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  flex-direction: column;
  gap:30px;
  
}

.curriboxes{
  justify-content: space-between;
  gap: 30px;
  margin-top: 20px;
  margin-bottom: 30 px;
}

.boxes{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
  width: 300px;
  border-radius: 18px;
  box-shadow: 0px 0px 28px 1px rgba(0, 0, 0, 0.05) inset;
  padding: 40px;
}

.blue-gradient {
  background: linear-gradient(#def5ff, white);
  button {
    color: #64c8ff;
  }
}
.yellow-gradient {
  background: linear-gradient(#fff4dc, white);
  button {
    color: #f0aa00;
  }
}
.violet-gradient {
  background: linear-gradient(#f2e8ff, white);
  button {
    color: #8700ff;
  }
}

.boxes button{
  background-color: transparent;
  font-size: 1rem;
}



.stories {
  background: url("./B11-A2-Kids-School/assets/bg.png"),
    linear-gradient(
      0deg,
      rgba(254, 163, 1, 0.3) 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
  flex-direction: column;
}
.stories .content {
  gap: 20px;
  justify-content: center;
}
.stories .boxes {
  padding: 0;
  background-color: white;
  border-radius: 16px;
  box-shadow: none;
  padding-bottom: 30px;
}
.stories .boxes img {
  width: 100%;
  border-radius: 16px 16px 0 0;
}


.big-card h1,
.big-card p {
  padding: 0 50px;
}

.stories .card h1 {
  padding: 0 20px;
}
.img-container {
  position: relative;
}

.batch {
  position: absolute;
  color: #fff;
  font-family: Raleway;
  font-size: 1rem;
  border-radius: 48px;
  padding: 16px 24px;
  background-color: #3cd8e8;
  width: fit-content;
  left: 10%;
  transform: translateY(-55%);
}
.magenda-bg {
  background-color: #5d58f0;
}
.green-bg {
  background-color: #95b226;
}
.small-batch {
  padding: 8px 16px;
  font-size: 0.8rem;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.big-card {
  grid-row: span 2; 
}
.card-grid .boxes {
  width: 300px;
}

.card-grid .boxes .card-heading {
  font-size: 0.8rem;
}
.only-mobile {
  display: none;
}
.stories button {
  background-color: black;
}

footer {
  background-color: #01acfd;
  color: white;
  padding: 80px 140px;
  padding-bottom: 120px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 16px;
}
.outro {
  padding-right: 120px;
}
.outro-heading {
  font-size: 2rem;
  gap: 8px;
}
.outro-heading img {
  width: 80px;
}
.outro p {
  padding: 0;
  margin: 16px 0;
  font-size: 1rem;
}
.about-school .links {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 8px;
}
.about-school .links a {
  color: white;
  font-size: 1rem;
}

.keep-in-touch .social-media {
  margin-top: 20px;
  gap: 8px;
}

@media screen and (max-width: 576px) {
  section {
    padding: 0 20px;
  }
  .section-content {
    margin: 20px 0;
  }

  
  .nav-bar {
    padding: 10px 20px;
    border-bottom: 1px solid black;
  }
  .nav-bar h1 {
    display: none;
  }
  .nav-links,
  .contact-btn {
    display: none;
  }
  .hamburger-icon {
    display: block;
  }

  .section-heading {
    font-size: 26px;
    margin-top: 60px;
    margin-bottom: 32px;
  }
  /* hero-page */
  .hero-page {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 0;
  }
  .hero-content {
    text-align: center;
    align-items: center;
    width: 90%;
  }
  .hero-content h1 {
    margin-top: 24px;
    font-size: 2rem;
  }
  .hero-page img {
    transform: translateY(0);
  }

  /* curriculum */
  .card-container {
    flex-direction: column;
    gap: 8px;
  }

  /* Control Button */
  .control-buttons {
    display: none;
  }

  /* stories */
  .stories {
    padding-bottom: 56px;
  }
  .big-card {
    display: none;
  }
  .stories .card {
    width: 180px;
  }

  .only-mobile {
    display: block;
  }

  footer {
    grid-template-columns: 1fr;
    padding: 60px 24px;
  }
  .outro {
    padding-right: 0;
  }
}

@media screen and (max-width: 400px) {


  body {
    font-size: 1rem;
  }
  section {
    padding: 0 16px;
  }
  .heading {
    font-size: 2rem;
  }
  .content {
    margin: 40px 0;
  }
  .navbar {
    padding: 10px 16px;
  }
  .nav-bar h1 {
    font-size: 1.5rem;
  }
  .nav-links,
  .contact-btn {
    display: none;
  }
  .hamburger-icon {
    display: block;
  }
  .hero-page {
    flex-direction: column-reverse;
    gap: 16px;
  }
  .hero-content {
    text-align: center;
    align-items: center;
    width: 100%;
  }
  .hero-content h1 {
    font-size: 1.8rem;
  }
  .hero-page img {
    width: 100%;
  }
  .curriboxes {
    flex-direction: column;
    gap: 16px;
  }
  .boxes {
    width: 75%;
    padding: 20px;
    margin : 10px;
  }
  .stories {
    padding: 40px 16px;
  }
  .big-card {
    display: none;
  }
  .stories .card {
    width: 160px;
  }
  footer {
    padding: 40px 16px;
    grid-template-columns: 1fr;
  }
  .outro {
    padding-right: 0;
  }
  .banner-content {
    width: 100%;
    text-align: center;
  }
  .banner-content h1 {
    font-size: 2rem;
  }
  .banner-content button {
    width: 100%;
  }

  .logoh1 {
    display: none;
  }
  .nav-links,
  .contact-btn {
    display: none;
  }
  .top-right-btn {
    display: block;
    align-self: center;
    top: 10px;
    right: 10px; 
  }

  .top-right-btn button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  .top-right-btn img {
    width: 40px; 
    height: 40px;
    transform: translateY(-55%) translateX(110%);
  }

.banner{
  flex-direction: column-reverse;
  gap: 16px;
  align-items: center;
}
.banner-pic img{
  width: 100%;
}
.card-grid {
  grid-template-columns: repeat(2, 1fr);
}
main{
  margin-top: 20px;
}

.card-grid .boxes {
  width: 160px;
}

.heading{

}


}

